body, html {
    margin: 0;
    background-color: white;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
}

.mobile {
    height: 100%;
}

.hero-img {
    background-image: url("./images/mobile-image-hero-1.jpg");
    height: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; 
}

.navigation {
    overflow: hidden;
    position: relative;
    padding: 50px 20px;
    
}

.navigation a {
    margin: 0 20px;
}

.navigation #links {
    display: none;
}

.navigation #links a {
    text-decoration: none;
    color:  hsl(0, 0%, 0%);
    font-weight: 600;
    margin: 0 10px;
}

.navigation #links a:hover {
    text-decoration: underline;
}

#icon-close {
    display: none;
}

.arrow-btn {
    background-color: black;
    border: 0px solid black;
    padding: 15px;
    cursor: pointer;
}

.arrow-btn:hover {
    background-color: hsl(0, 0%, 27%);
    border: 0px solid hsl(0, 0%, 27%);
}

.arrow-btn img {
    
}

.button-group {
    position: absolute;
    bottom: 13px;
    right: 0px;
    display: inline-block;
}

#arrow-left {
    float: left;
}

#arrow-right {
    float: right;
}

.section-2, .section-4 {
    padding: 0 30px;
}

P[class="body-text"] {
    color: hsl(0, 0%, 63%);
    font-weight: 500;
    line-height: 22px;
}

p[class="heading-text-lg"] {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 40px;
    margin-bottom: 18px;
}

p[class="heading-text-sm"] {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 18px;
}

.shop-now-group {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 50px;
    align-items: baseline;
    cursor: pointer;
}

.shop-now-group:hover {
    color: hsl(0, 0%, 63%);
    cursor: pointer;
}

button[class="shop-now-btn"] {
    border-style: none;
    background-color: white;
    /* margin-bottom: 70px; */
}

p[class="btn-text"] {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 15px;
}





.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }